<!--
1.How many registered users till now.
2.How many users have uploaded photos.
3.How many users have vote for photos.
4.Which is the current winner photo for each subject.
5.Which are current top 20 photos according to current evaluation.
views(30%)+comments(30%)+zanns(40%)
-->