		<% if flash[:notice] -%>
	    	<div class="notice" id="notice"><%= flash[:notice] %></div>
			<% flash[:notice] = nil %>
	    <% end -%>
	    <% if flash[:warning] -%>
	        <div class="warning"><%= flash[:warning] %></div>
			<% flash[:warning] = nil %>
	    <% end -%>