<html>
    <head>
	<title><%= controller.action_name %></title>
	<%= javascript_include_tag "prototype" %>
	<%= javascript_include_tag "jquery" %>


	<%= stylesheet_link_tag "default", :media => "all" %>
	<%= stylesheet_link_tag "misc", :media => "all" %>
    </head>
    <body>
	<div id="header">
	    <p>
		<h1><a href="http://localhost:3000/">zann</a><sup>(beta)</sup></h1>	
	    </p>
	</div>
	<ul class="navigation">
		<li><%= link_to "signup", :controller => "account", :action => "signup"%></li>
		<% if(logged_in?)%>
			<li><%= link_to "logout", :controller => "account", :action => "logout"%></li>
		<% else %>
			<li><%= link_to "login", :controller => "account", :action => "login"%></li>
		<% end %>
		<li><%= link_to "photos", :controller => "photos", :action => "list"%></li>
		<li><%= link_to "albums", :controller => "albums", :action => "list"%></li>
	    <li><a href="http://www.emc.com">EMC</a></li>
	</ul>
	<% if flash[:notice] -%>
    <div class="notice" id="notice"><%= flash[:notice] %>
    </div>
    <% end -%>
    <% if flash[:warning] -%>
        <div class="warning"><%= flash[:warning] %>
        </div>
    <% end -%>
	<%= @content_for_layout %>
	<div id="footer">
	    <p>
		Presented by niyue. 
		Template designed by <a href="http://mentalized.net">mentalized.net</a>
	    </p>
	    <p>
		<a rel="license" href="http://creativecommons.org/licenses/by/2.5/">
		<!-- <img alt="Creative Commons License" src="http://creativecommons.org/images/public/somerights20.png" border="0"/> -->
		</a>
		This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>.
	    </p>
	</div>
    </body>
</html>
