<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<%= render(:partial => 'layouts/include') %>

<body>
	<%= render(:partial => 'layouts/header') %>

<div id="container">
	<div id="left">
		<%= render(:partial => 'layouts/flash') %>
		<%= @content_for_layout %>
	</div>
	
	<div id="right">
		<h1>About This Site:</h1>
		<p><%= image_tag("zann.png") %></p>
		<div class="hr"></div>
	
		<h1>Links:</h1>
		<ul class="links">
			<li><a href="http://www.emc.com">EMC</a></li>
			<li><a href="http://www.emccrdc.com">EMC CRDC</a></li>
		</ul>
		<div class="hr"></div>
	
		<h1>Article Header</h1>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris vel dolor. Fusce dictum, odio et eleifend ultrices, odio odio faucibus odio, quis consequat tortor nisi vitae sapien. Etiam vulputate mi vel enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aenean rutrum.</p> <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin venenatis egestas orci. Pellentesque vehicula consequat metus. Sed a lectus vel augue semper molestie. Vivamus sed est. Proin et ipsum.
		</p>
	</div>
	
	<div id="clear"></div>
</div>
<%= render(:partial => 'layouts/footer') %>
</body>
</html>

