<style>
	dt{
		font-weight: bold;
	}
	dd{
		padding-left: 10px;
	}
        li{
          padding-left: 10px;
          list-style: none;
          color: black;
        }
</style>
<h1>This site is built on top of <abbr title="Linux, Mongrel, MySQL, Ruby">LMMR</abbr> stack, and powered by the following framework/libraries:</h1>
<dl>
	<dt>Ruby On Rails</dt>
        <dd><a href="http://rubyonrails.org/">http://rubyonrails.org/</a>, MIT licence</dd>
	<dt>Ruby</dt>
        <dd><a href="http://ruby-lang.org/">http://ruby-lang.org/</a>, Ruby licence</dd>
	<dt>jQuery/ThickBox</dt>
        <dd><a href="http://jquery.com/demo/thickbox/">http://jquery.com/demo/thickbox/</a>, MIT licence/GNU licence</dd>
	<dt>JonDesign's SmoothGallery</dt>
        <dd><a href="http://smoothgallery.jondesign.net/">http://smoothgallery.jondesign.net/</a>, GPL v3 licence</dd>
	<dt>Glossy.js</dt>
        <dd><a href="http://www.netzgesta.de/glossy/">http://www.netzgesta.de/glossy/</a>, Netzgestade Software License Agreement</dd>
	<dt>swfobject</dt>
        <dd><a href="http://blog.deconcept.com/swfobject/">http://blog.deconcept.com/swfobject/</a>, MIT licence</dd>
	<dt>XML/SWF Chart</dt>
        <dd><a href="http://www.maani.us/xml_charts/">http://www.maani.us/xml_charts/</a>, XML/SWF Chart Free licence</dd>
        <dt>Css Template</dt>
        <dd><a href="http://free-css-templates.gorotron.com">free-css-templates.gorotron.com</a>, Creative Commons Attribution License 3.0</dd>
</dl>
<br/>
<h1>Licences</h1>
<ul>
  <li>MIT Licence, <a href="http://www.opensource.org/licenses/mit-license.php">http://www.opensource.org/licenses/mit-license.php</a></li>
  <li>GPL v2, <a href="http://www.gnu.org/licenses/gpl.html">http://www.gnu.org/licenses/gpl.html</a></li>
  <li>GPL v3, <a href="www.gnu.org/licenses/gpl-3.0.txt">www.gnu.org/licenses/gpl-3.0.txt</a></li>
  <li>Netzgestade Software License Agreement, <a href="http://www.netzgesta.de/glossy/LICENSE.txt">http://www.netzgesta.de/glossy/LICENSE.txt</a></li>
  <li>Ruby Licence, <a href="http://www.ruby-lang.org/en/LICENSE.txt">http://www.ruby-lang.org/en/LICENSE.txt</a></li>	
  <li>XML/SWF Free Licence, <a href="http://www.maani.us/xml_charts/index.php?menu=License">http://www.maani.us/xml_charts/index.php?menu=License</a></li>
  <li>Creative Commons Attribution License 3.0, <a href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</a></li>
</ul>
