<%= error_messages_for 'user' %>

<% form_tag :action => 'update', :id => @user do %>
<fieldset>
	<legend>Editing account</legend>
  <%= render :partial => 'edit_form' %>
</fieldset>
<fieldset>
  <%= submit_tag 'Save', :class => "inputSubmit" %>
</fieldset>
<% end %>
