/* 

CSS stylesheet by gorotron:
http://free-css-templates.gorotron.com

Ditributed under Creative Commons Attribution License 3.0:
http://creativecommons.org/licenses/by/3.0/

*/


html,body {
	margin:0;
	padding:0;
	height:100%;
	font:12px "trebuchet ms", helvetica, georgia, times, serif;
	color:#333;
}

html {
	background:#FFF url(/images/melmac/banner.gif) repeat-x;
}

p {
	line-height:1.5em;
	text-align:justify;
}
a:link {
color:			    #669966;
text-decoration:	    none;
}
a:visited {
color:			    #336633;
text-decoration:	    none;
}
a:hover {
text-decoration:	    none;
color:			    #FFFFFF;
background-color:	    #669966;
}

/*
blockquote {
	color:#669966;
	padding-left:40px;
	margin-left:0;
	background:url(/images/melmac/quote.gif) no-repeat;
}
*/

#header {
	padding:10px 0;
	width:900px;
	height:3em;
	margin: 0 auto;
}

#header h1 {
	color:#FFF;
	margin:0 15px 0 20px;
	padding:0;
	display:inline;
	font:2.5em "trebuchet ms", trebuchet, sans-serif;
	font-weight:bold;
	float:left;
}	

#header h1 a {
	text-decoration:none;
	color:#FFF;
}

#header h1 a:hover {
	color:#FFF;
}

#header h2 {
	display:inline;
	color:#EAEAEA;
	padding:1.5em 0 0;
	margin:0;
	font-size:1em;
	float:left;
}

.orange {
	color:#F90;
}
.green{
	color: #669966;
}

#nav {
	display:inline;
	margin:0.25em 0 0 30px;
	padding:0;
	float:left;
}

#nav li {
	display:inline;
	list-style:none;
	color:#FFF;
	float:left;
	margin:0;
	padding:0;
	font-size: 1.25em;
	font-family: "trebuchet ms", trebuchet, sans-serif;
	font-weight:bold;
}

#nav a {
	color:#CCC;
	text-decoration:none;
	display:block;
	padding:0.4em 1em;
	margin:0 0.25em 0 0;
}

#nav a:hover, #currentPage {
	color:#FFF;
	background:#4c4c4c;
}
	
#container {
	margin:0 auto;
	position:relative;
	padding-top:10px;
	width:860px;
	background:#FFF url(/images/melmac/page.gif) repeat-x;
	border:2px solid #FFF;
	height:auto;
	min-height:100%;
}

#left {
	padding:0 10px;
	width:540px;
	float:left;
	background:url(/images/melmac/dotted.png) repeat-y 619px 0;
	clear:right;
}

#left ul, #left ol {
	color:#669966;
}

#left h1 {
	color:#333;
	margin:0;
	padding-bottom:0.35em;
	font:1.4em "trebuchet ms", trebuchet, sans-serif;
	display:block;
	background:url(/images/melmac/dotted.png) repeat-x 0 1.4em;
}

#left h2 {
	color:#333;
	margin:0;
	padding-top:0.35em;
	text-align:right;
	display:block;
	font-weight:normal;
	font:0.9em "trebuchet ms", trebuchet, sans-serif;
}

.hr {
	background:url(/images/melmac/footer.gif);
	margin:0 0 10px;
	padding:0.3em;
	font-size:0.85em;
}

.hr p {
	margin:0;
	text-align:right;
}

#right {
	width:290px;
	padding:0 0 0 10px;
	margin-bottom:30px;
	float:left;
}

#right .hr {
	margin-bottom:20px;
}

#right h1 {
	font:1.1em "trebuchet ms", trebuchet, sans-serif;
	color:#333;
	font-weight:bold;
	margin:0;
}

#right p {
	margin-top:6px;
}

.links {
	padding:0;
	margin:8px 0 0 0;
}

.links li {
	margin-bottom:3px;
	list-style:none;
}

#clear {
	clear:both;
}

#copyright {
	background:#333;
	width:99%;
	margin:0 auto;
	color:#FFF;
	font-size:0.8em;
	text-align:center;
	padding:0.5em;	
}

#copyright a {
	text-decoration:none;
	color:#FFF;
}

input,textarea {
	/*display:block;*/
	border:1px solid #CCC;
	margin-bottom:4px;
}

label {
	display:block;
	margin-bottom:4px;
}
img{
	border: 0px;
}
sup {
	font-size: 0.3em;
}
.graph { 
    position: relative; /* IE is dumb */
    width: 200px; 
    border: 1px solid #B1D632; 
    padding: 2px; 
}
.graph .bar { 
    display: block;
    position: relative;
    background: #B1D632; 
    text-align: center; 
    color: #333; 
    height: 1em; 
    line-height: 1em;            
}
.graph .bar span { position: absolute; left: 1em; }
.highlightgreen{
	color: #669966;
	font-size: 1.2em;
}

