Hi <%= @user.full_name %>,
Thanks for registering with us. We are looking foward to see your around Zann.

Here's your account info:
  Username: <%= @user.login %>
  Password: <%= @user.password %>

To complete your registration, please click the following link to activate your account:
<%= @url %>

Sincerely,
Photography Club