<li id='<%= "comment_#{comment.id}" %>'>
	<div class="bubble">
		<div>
			<blockquote>
				<p><%=sanitize comment.content %></p>
			</blockquote>
		</div>
			<cite>
				<strong>
					<%= link_to(comment.author.full_name, :controller => "photos", :action => "user", :id => comment.author) %>
				</strong> on <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
			</cite>
	</div>
</li>