Hi <%= @user.full_name %>,
This email is sent to you because someone requests to resend signup notification. If it is not you, please ignore this email and sorry for the inconvenience.

To complete your registration, please click the following link to activate your account:
<%= @url %>

Sincerely,
Photography Club