.photo-item{
	background-color: #F0F0F0;
}
.photo-name{
	font-weight: bold;
}
.photo-image{
	margin: 5px 5px 0 5px;
}
.zann-counter{
	text-align: center;
}
.zann-count{
	font-family: Georgia, Times, serif;;
	font-size: 3em;
	font-weight: bold;
	color: #669966;
	margin-bottom: 2px;
	/*background: #000 url(/images/zann.png);*/
}
