	<%= javascript_include_tag "jquery" %>
	<%= javascript_include_tag "thickbox" %>
	<%= stylesheet_link_tag "thickbox", :media => "screen" %>
	<%= image_tag "loadingAnimation.gif", {:style => 'display:none;'}%>
<% for photo in @photos %>
	<div width="130" style="float:left;margin:0 10px 20px 10px; border: #F0F0F0 solid;">
		<%= link_to(image_tag(url_for_file_column(photo,'image'), :size => '128x128'), url_for_file_column(photo,'image'), {:class => 'thickbox', :rel => photo.album.name, :title => "<b>#{photo.name}</b> - #{link_to('detail of this photo', {:controller => 'photos', :action => 'show', :id => photo}, {:style => "color:blue;"})}" }) %></br>
		<%= render(:partial => 'photos/zann_counter', :locals => {:photo => photo}) %>
	</div>
<% end %>