<h1>Listing albums</h1>

<%= render(:partial => 'album', :collection => @albums ) %>

<%= link_to 'Previous page', { :page => @album_pages.current.previous } if @album_pages.current.previous %>
<%= link_to 'Next page', { :page => @album_pages.current.next } if @album_pages.current.next %> 
<br />

<% if(logged_in? && permit?('admin'))%>
	<%= link_to 'New album', :action => 'new' %>
<% end %>
