<% form_tag do -%>
<fieldset>
	<legend>Account Info</legend>
	<div class="required">
		<label for="email">Your Email</label>
		<%= text_field_tag 'email', "", :class => "inputText" %>
	</div>
</fieldset>
<fieldset>
	<div class="submit">
		<div>
			<%= submit_tag 'Check for user', :class => "inputSubmit"%>
		</div>
	</div>
</fieldset>
<% end -%>