.notice {
    background:#F8FAFC url(../images/information.png) no-repeat scroll 15px 50%;
    border-bottom:2px solid #B5D4FE;
    border-top:2px solid #B5D4FE;
    padding:5px 20px 5px 45px;
    text-align:left;
}
.warning {
	background: #fff6bf url(../images/exclamation.png) no-repeat scroll 15px 50%;
	background-position: 15px 50%; /* x-pos y-pos */
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
}