<%= error_messages_for 'photo' %>

<!--[form:photo]-->
<p><label for="photo_name">Name</label><br/>
<%= text_field 'photo', 'name'  %></p>

<p><label for="photo_description">Description</label><br/>
<%= text_field 'photo', 'description'  %></p>

<p><label for="photo_album">Album</label><br/>
<%= collection_select("photo", "album_id" , Album.find_all, "id", "name") %></p>

<p><label for="photo_image">Image</label><br/>
<%= file_column_field "photo", "image" %></p>
<!--[eoform:photo]-->

