<% for column in Video.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @video.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @video %> |
<%= link_to 'Back', :action => 'list' %>
