<p>Username: <%= @user.login %></p>
<p>Email: <%= @user.email %></p>
<p>First Name: <%= @user.first_name %></p>
<p>Last Name: <%= @user.last_name %></p>
<%= link_to 'Edit my profile', :action => 'edit', :id => @user %>