<%= error_messages_for 'album' %>

<% form_tag :action => 'update', :id => @album do %>
<fieldset>
	<legend>Editing album</legend>
  <%= render :partial => 'form' %>
</fieldset>
<fieldset>
  <%= submit_tag 'Save', :class => "inputSubmit" %>
</fieldset>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @album %> |
<%= link_to 'Back', :action => 'list' %>
