<li  id='<%= "comment_#{comment.id}" %>' class="comment-item">
	<div class="comment-content">
		<%=h comment.content %>
	</div>
	<div class="comment-footer">
		<%=h comment.author.login %> posted at <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>		
	</div>
	<div class="hr"></div>
</li>