		<% if flash[:notice] -%>
	    <div class="notice" id="notice"><%= flash[:notice] %>
	    </div>
	    <% end -%>
	    <% if flash[:warning] -%>
	        <div class="warning"><%= flash[:warning] %>
	        </div>
	    <% end -%>